.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}
.wide{
    width:550px;
}
.padding-top-sms{
    padding-top: 5px;
    margin-right:10px;
    margin-left:10px;
}
.border{
    border: solid 1px black;
    max-width: 600px;
    min-width: 400px;
}
.border-small{
    border: solid 1px black;
    padding-left:20px;
    padding-right:20px;
}
.blue-background{
  background: lightblue;
}
.glue{
  overflow-y: scroll;
}
#page {
    display:block; 
    width:100%; 
    height: calc(95vh - 120px) !important;
}

#tdcontent {
    float:left; 
    width:100%; 
    display:block;
}

#content {      
    float:left; 
    width:100%; 
    height:100%; 
    display:block; 
    overflow-y:scroll;
}